bergcloud_consumer_token: yourConsumerToken
bergcloud_consumer_token_secret: yourConsumerTokenSecret
bergcloud_access_token: yourAccessToken
bergcloud_access_token_secret: yourAccessTokenSecret
bergcloud_site: http://api.bergcloud.com
# Optional:
redis_url: redis://username:password@your.redis.server:12345

